* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    padding: 20px;
    background-color: rgb(0, 124, 226);
    position: fixed;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
}

.btn-header {
    display: flex;
    gap: 50px;
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: black;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    gap: 2px;
    transition: all 0.5s ease;
}

.cart:hover {
    color: white;
}

.item-total {
    color: yellow;
    padding-left: 10px;
}
